body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

:root {
  font-family: "Kode Mono", monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  justify-content: center;
  align-items: center;
  display: flex;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow-x: hidden;
  overflow-y: hidden;

  --color-background-primary: #36393f;
  --color-background-secondary: #2f3136;
  --color-background-tertiary: #40444b;
  --color-text-primary: #ffffff;
  --color-text-secondary: #b9bbbe;
  --color-text-muted: #6c757d;
  --color-accent-primary: #5865f2;
  --color-accent-secondary: #4752c4;
  --color-accent-danger: #ed4245;
  --color-accent-danger-disabled: #6c757d;
  --color-accent-danger-hover: #dc143c;
  --color-accent-success: #3ba55c;
  --color-accent-success-disabled: #6c757d;
  --color-accent-success-hover: #2f8547;
  --color-accent-warning: #faa61a;
  --color-accent-warning-disabled: #6c757d;
  --color-accent-warning-hover: #e6a23c;
  --color-border-primary: #40444b;
  --color-border-secondary: #2f3136;
  --color-hover-background: #40444b;
  --color-active-background: #4752c4;
  
}

.container {
  margin: 0;
  padding-top: 0vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  
}

button:hover {
  border-color: var(--color-border-secondary);
}
button:active {
  border-color: var(--color-active-background);
  color: var(--color-text-primary);
}
button{
  color: var(--color-text-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-text-primary);
    background-color: var(--color-background-primary);
  }
  .sidebar {
    background-color: var(--color-background-secondary);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
}

.content {
  flex: 1;
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}

.app-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c6c6c62;
  border-radius: 5px;
} 