.chat-content {
    background-color: #201d205e;
    border: #201d205e 1px solid;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
 
    overflow-y: auto;
    max-height: 75vh;   /* Set max height relative to viewport */
    min-height: 30vh;   /* Optional: minimum height */
    width: 80vw;
    margin: 20px auto; /* Center horizontally */
}