.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-background-tertiary);
    gap: 17%;
}

.login-content {
    background-color: var(--color-background-primary);
    border: 1px solid var(--color-border-primary);
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    padding: 2em;
    width: 88vw;
    max-width: fit-content;
    backdrop-filter: blur(19px), saturate(180%);    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: var(--color-background-secondary);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: var(--color-text-primary);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
::placeholder{
    color: var(--color-text-secondary);
}

button{
    width: 250px;
    padding: 0.6em 1.2em;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--color-text-secondary);
    background-color: var(--color-accent-primary);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px) saturate(1.8);
}
button:hover {
    border-color: #396bd800;
    background-color: var(--color-accent-secondary);
}