
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.nav-links {
    padding-top: 20px;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-bottom: 75px;
    flex-direction: column;
}

.channel-icon {
    width: 20px;
    height: 20px;
    padding-right: 10%;
}

ul {
    margin: 5%;
    padding: 5%;
    list-style-type: none;
    width: 100%;
}

.channel-item {
    align-items: center;
    margin: 3px;
}

.channel-item:hover {
    background-color: rgb(63, 63, 63);
    border-radius: 5px;
    cursor: pointer;

}

.channel-item:hover .full-name {
    display: block;
}
.full-name {
    display: none;
    position: absolute;
    background-color: #000000;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 10;
    white-space: nowrap;
}

.sidebar-footer {
    position: fixed;
    bottom: 0;
    width: 150px; /* Match sidebar width */
    height: 75px;
    text-align: center;
    background-color: inherit; /* Inherit background from sidebar */
    z-index: 5; /* Ensure footer stays above scrolling content */
}

.add-channel-button{
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-channel-icon {
    width: 30px;
    height: 30px;
}